html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: 0 0 100px;
    background: url('../../assests/images/bgimg2.jpg');
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .66)!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #464646;
}

footer {
    color: #fafafa;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    /*box-shadow: inset 0 0 0 1000px rgba(0,0,0,.66);*/
}

/*------------------------------Special Margins,Paddings, colors*/

.btn-success {
    color: #fff;
    background-color: #e55731;
    border-color: #398439;
}

.btn-success:hover {
    color: black;
    background-color: gold;
    border-color: #919089;
}

.bg-light {
    background-color: rgba(0, 0, 0, 0)!important;
}

.featurette-divider {
    margin: 80px 0;
}


/*---------------------------------------Containers*/

.container-fluid .jumbotron {
    padding-right: 70px;
    padding-left: 70px;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    margin-bottom: 0px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*---------------------------------------Navbar*/

.navbar.navbar-default {
    background-color: #f8f8f8;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: gold;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #2D0;
    background-color: rgba(209, 207, 100, .2);
    border-bottom: solid;
}

.navbar-default .navbar-toggle {
    border-color: gold;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(209, 207, 100);
}

.navbar.navbar-default .navbar-collapse {
    padding-top: 0px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#corner-logo {
    margin: 0px 0px -20px 20px;
    height: 107px;
    width: 156px;
}

/*---------------------------------------Jumbotron*/

.jumbotron h1 {
    color: gold;
    text-shadow: -10px 2px 1px darkslategrey;
    font-weight: bold;
    font-size: 88px;
    text-transform: uppercase;
    /*border-left: 3px solid #eeebde;*/
    /*border-right: 3px solid #eeebde;*/
}

.jumbotron p {
    margin-bottom: 25px;
    margin-top: 32px;
    font-size: 25px;
    font-weight: 300;
    color: #eeebde;
}

.jumbotron #fomb {
    font-size: 20px;
}

.text-center {
    color: #6c757d!important;
}

/*------------------------------Profile section*/

.img-circle {
    text-align: center;
    width: 200px;
    height: 200px;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
    color: #eeebde;
}

#profile-pics h2 {
    color: aliceblue;
}

#duhduh {
    color: #eeebde;
}

/*----------------------------------Featurette*/

.featurette-heading {
    color: #eee427;
}

.featurette-heading a {
    color: #eee427;
    text-decoration: none;
}

.featurette-heading .text-muted {
    color: azure;
}

.lead {
    color: #eeebde;
}

/*---------------------------------------Footer*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 5px;
    line-height: 5px;
    /* Vertically center the text there */
    background-color: #3c3c3c;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #3c3c3c;
    display: inline-block;
    background: gold;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.col-sm-4 {
    text-align: center;
    padding-top: 8px;
}

.social-links li a i:hover {
    background: white;
}

.uppercase.general-sub {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #f9f9f9;
}

#foot-home {
    color: #eee427;
    text-decoration: none;
    font-weight: bold;
}

#foot-home:hover {
    color: white;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#foot-contact {
    color: #eee427;
    text-decoration: none;
    font-weight: bold;
}

#foot-contact:hover {
    color: white;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#footer-details {
    background-color: rgba(0, 0, 0, 0);
    height: 10%;
}

/*---------------------Booking HTML*/

#form {
    float: left;
}

.control-label {
    color: #f8f8f8;
}

/*---------------------Contact HTML*/

.form-group {
    color: #f8f8f8;
}

.form-group-1 {
    color: #3c3c3c;
}

#form-contact {
    padding: 10px;
}

.controls {
    padding-top: 22px;
}

.text-yo {
    color: #f8f8f8;
    font-weight: lighter;
    font-size: smaller;
}

/*---------------------Gallery*/

.gallery-title {
    font-size: 36px;
    color: #eee427;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border: none;
}

.gallery-title a {
    text-decoration: none;
    color: #eee427;
}

.gallery_product {
    margin-bottom: 30px;
}

/*---------------------Music*/

.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*---------------------Media Queries*/

@media only screen and (max-width: 480px) {
    .jumbotron h1 {
        font-size: 39px!important;
        text-shadow: -3px 1px 1px #e55731;
    }
    .jumbotron p {
        font-size: 14px;
    }
    .jumbotron #fomb {
        font-size: 10px;
    }
    .navbar.navbar-default .navbar-collapse {
        padding-top: 10px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .navbar {
        border-radius: 0px;
    }
    .navbar-nav {
        margin: 0px;
        padding-top: 16px;
    }
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .navbar-right {
        float: left!important;
        padding-top: 0px!important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navbar-right {
        float: left!important;
        padding-top: 0px!important;
    }
}

@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url(''../../assests/images/bgimg2_mobile.jpg');
  }}